! Xterm config
XTerm.termName: xterm-256color
XTerm.vt100.faceName: Iosevka Nerd Font:size=13:antialias=true
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
XTerm*internalBorder: 5

! so tmux gets 256-color

! special
*.foreground:   #eeffff
*.background:   #1e1c31
*.cursorColor:  #eeffff

! black
*.color0:       #1e1c31
*.color8:       #585273

! red
*.color1:       #f0719b
*.color9:       #f02e6e

! green
*.color2:       #a1efd3
*.color10:      #2ce592

! yellow
*.color3:       #ffe9aa
*.color11:      #ffb378

! blue
*.color4:       #57c7ff
*.color12:      #1da0e2

! magenta
*.color5:       #c792ea
*.color13:      #a742ea

! cyan
*.color6:       #87dfeb
*.color14:      #63f2f1

! white
*.color7:       #f8f8f2
*.color15:      #a6b3cc
